<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <title>APOD</title>
</head>
<body>
    <div id="apodDiv">
        <h1 id="imageTitle" th:text="${image.title}">Image Title</h1>
        <p id="imageDate" th:text="${image.date}">Image Date</p>
        <p id="imageExplanation" th:text="${image.explanation}">Image Explanation</p>

        <image id="apodImage" th:src="@{${image.url}}" alt="Astronomy Picture of the Day - NASA"></image>
        <p id="imageCopyright" th:text="'- ' + ${image.copyright}"></p>
    </div>
</body>
</html>